@import 'sass/vendor/mixins'
@import 'sass/vendor/variables'

@import 'sass/ui/button'
@import 'sass/ui/select'
@import 'sass/ui/input'

@import 'sass/blocks/header'
@import 'sass/blocks/todoheader'
@import 'sass/blocks/todo'
@import 'sass/blocks/task'

*, *::after, *::before
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 10px

body
  font-size: 1.7rem
  color: black

a
  color: inherit
  text-decoration: none

ul, li
  list-style-type: none

section
  padding: 2rem 0

button
  cursor: pointer

.container
  max-width: 140rem
  width: 100%
  margin: 0 auto
  padding: 0 1.5rem

.task__title
  font-size: 4rem
  text-align: center

